/** COLORS **/

$preto: #1f1f1f !default;
$branco: #ffffff !default;
$quasebranco: #f6f6f6 !default;
$quasepreto: #353535 !default;
$cinzaescuro: #454545 !default;
$cinza: #898989 !default;
$cinzaclaro: #bdbdbd !default;
$pretotransparente: rgba(0, 0, 0, 0.6) !default;
$cor: #3792b9 !default;
$corescura: #2d7797 !default;

/** DIMENS **/

$largeMargin: 20px !default;
$regularMargin: 15px !default;
$smallMargin: 10px !default;
$tinyMargin: 5px !default;
$nanoMargin: 3px !default;
$hairLine: 1px !default;

$largestText: 24px !default;
$bigText: 18px !default;
$regularText: 17px !default;
$smallText: 15px !default;
$tinyText: 13px !default;
$btnText: 12px !default;
$sombraHeight: 12px !default;

/** FONTS **/

$regularFont: "Helvetica" !default;
$boldFont: "Helvetica Bold" !default;
$italicFont: "Helvetica Italic" !default;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body{
    display:none; /* não exibe nada enquanto a default interface não for adicionada */
    margin: 0;
    
    background: $quasebranco;
    font-family: $regularFont, sans-serif;
    color: $cinzaescuro;
    font-size: $regularText;
}

a {
    text-decoration: underline;
    cursor: pointer;
    color: $cor;
}

a:hover{
    text-decoration: none;
}

b {
    font-family: $boldFont;
    font-weight: normal;
}

input[type="button"], input[type="submit"], .btn{
    display: inline-block;
    border: 0;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    padding: 0px 20px;
    
    color: $branco;
    font-size: $btnText;
    text-decoration: none;
    background: $cor;
    text-transform: uppercase;
    
    -webkit-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.25);
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.25);
}

input[type="button"]:hover, input[type="submit"]:hover, .btn:hover{
    background: $corescura;
    cursor: pointer;
}

input[type="text"], input[type="password"], input[type="email"] {
    border: 1px solid $cinzaclaro;
    height: 30px;
    padding: 7px 5px 3px 5px;
}

textarea {
    border: 1px solid $cinzaclaro;
    height: 120px;
    width: 300px;
}

h1 {
    font-family: $boldFont;
    text-transform: uppercase;
    font-size: $bigText;
}

h2 {
    font-family: $boldFont;
    font-size: $bigText;
}

hr {
    margin: 0;
    border: 0;
    height: 1px;
    background: $cor;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear{
    clear: both;
}

.success{
    background: #62c462; //verde
    color: #fff;
    padding: 5px;
    position: absolute;
}

.error{
    background: #cd0a0a; //vermelho
    color: #fff;
    padding: 5px;
    position: absolute;
}

.success.fixed, .error.fixed {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 111;
}

.formline {
    display: block;
    line-height: 30px;
    clear: both;
}

.formline-header{
    width: 260px;
    display: block;
    text-align: right;
    margin-right: 5px;
    font-family: $boldFont;
    float: left;
}

.formline-noheader{
    margin-left: 270px;
}

.actionbar {
    text-align: right;
    background: $quasebranco;
    border-top: 1px solid $cor;
    padding: $regularMargin;
    clear: both;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    background: $pretotransparente;
    width: 100%;
    height: 100%;
    z-index: 11;
    
    .window {
        width: 600px;
        margin: auto;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        max-height: 100%;
        overflow: scroll;
        padding: $largeMargin;
        background: $branco;
        
        .actionbar {
            margin-bottom: -$largeMargin;
            margin-left: -$largeMargin;
            margin-right: -$largeMargin;
        }
    }
}

.imgCenterCrop {
  object-fit: none; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}

.backgroundCenterCrop {
    background-color: $branco;
    background-position: center center;
    background-size: cover;
}

.grabber-imagens {
    max-height: 300px;
    overflow-y: scroll;
}

.grabber-img-wrapper-1 {
    float: left;
    
    img {
        width: 150px;
        height: 150px;
        overflow: hidden;
    }
    
    .grabber-abrirImagem {
        display: block;
    }
    
    .grabber-img-wrapper-2 {
        padding: 10px;
        display: block;
    }
    
    .grabber-selecionado {
        background: $cor;
    }
}