@import "default.scss";

.table {
  border-spacing: 1px; 
  
  td {
    background: $branco;
    padding: $smallMargin;
    margin-bottom: 2px; 
    color: $cor;
  }
  
  th {
    margin-bottom: 2px;
    color: $branco;
    background: $cor;
    padding: $smallMargin;
  }
  
}

#header {
    padding: 20px;
    background: $cor;

    h1 {
        color: $branco;
        font-family: $boldFont;
        font-weight: normal;
        font-size: 22px;
    }
}

#header img{
    float: left;
}

#logout {
    float: right;
    margin-right: 10px;
    font-family: $boldFont;
    color: $branco;
    font-size: 14px;
}

#nav {
    padding: 5px 15px;
    font-family: $boldFont;
    clear: both;
    background: white;
    
    a {
        display: block;
        float: left;
        margin-right: 30px;
        height: 50px;
        line-height: 50px;
        padding-left: 15px;
        padding-right: 15px;
        color: $cor;

        &.marked {
            text-decoration: none;
            font-family: $boldFont;
            color: $corescura;
        }
    }
}

#defaultInner{
    width: 950px;
    margin: 0 auto;
}